#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

/* --- MUDANÇA AQUI --- */
#cta {
    width: 66%; /* Largura do container principal aumentada */
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    /* Adicionado para garantir que os itens fiquem alinhados à esquerda */
    align-items: flex-start; 
}

#cta .title {
    font-size: 3.97rem;
    color: var(--color-neutral-1);
}

#cta .title #typed-text {
    color: var(--color-primary-6);
}

.typed-cursor {
    font-size: 3.97rem;
    color: var(--color-primary-6);
    animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
  50% { opacity: 0.0; }
}

/* --- MUDANÇA AQUI --- */
#cta .description {
    font-size: 1.2rem;
    width: 66%; /* Largura específica para o parágrafo de descrição */
}
/* --- FIM DAS MUDANÇAS --- */


#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #4B0082;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    z-index: 2;
}

#banner img {
    width: 20%;
    height: 40%;
    border-radius: 3%;
    object-fit: cover;
    position: absolute;
    top: 10%;
    right: 10%;
}

.shape {
    background-color: var(--color-neutral-1);
    width: 22%;
    height: 41%;
    position: absolute;
    border-radius: 3%;
    top: 15%;
    right: 10%;
    z-index: 1;
}

body.dark-mode .shape {
    background-color: var(--color-primary-6);
}

@media screen and (max-width: 1400px) {
    #cta .title {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    /* Garante que a descrição também ocupe mais espaço em telas menores */
    #cta .description {
        width: 80%; 
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
    #cta .title {
        font-size: 2.5rem;
    }
}